@import "/src/styles/base.scss";

.wrapper {
  @extend %flex-row-align-center;
  min-height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  @include left(-2px);
  @include width(140px);
  position: relative;
}