@import "/src/styles/base.scss";

.wrapper {
  @extend %flex-column-align-center;
  height: 100vh;
  justify-content: center;
  background-color: $color-white;

  h1 {
    @include font(78px, black, bold);
    text-align: center;
  }

  h2 {
    @include font(36px, black, normal);
    text-align: center;
    transform: rotate(-4deg);
    font-family: 'Caveat', sans-serif;
  }
}